---
layout: kontener
---
{% include "foto-i-tekst.njk" %}
<ul class="flex flex-wrap justify-center -mx-4 mt-4">
  <li class="w-full xs:w-1/2 sm:w-1/3 px-3 sm:px-4 mt-6 sm:mt-8">
    <a href="/edukacja-i-opowiesci/kultura-obrzedy-folklor/" class="przycisk">{% include "ikony/kultura-obrzedy-folklor.svg" %}
		Kultura, obrzędy, folklor</a>
  </li>
  <li class="w-full xs:w-1/2 sm:w-1/3 px-3 sm:px-4 mt-6 sm:mt-8">
    <a href="/edukacja-i-opowiesci/smierc-zaloba-pozegnania/" class="przycisk">{% include "ikony/smierc-zaloba-pozegnania.svg" %}
		Śmierć, żałoba, pożegnania</a>
  </li>
  <li class="w-full xs:w-1/2 sm:w-1/3 px-3 sm:px-4 mt-6 sm:mt-8">
    <a href="/edukacja-i-opowiesci/basnie-i-opowiesci/" class="przycisk">{% include "ikony/basnie-i-opowiesci.svg" %}
		Baśnie i opowieści</a>
  </li>
</ul>