---
layout: kontener
---
{% include "tekst.njk" %}

<aside class="tekst mt-16 mx-auto">
	<p>Projekt „Generator Innowacji. Sieci Wsparcia 3”, dofinansowany przez Unię Europejską w ramach Europejskiego Funduszu Społecznego</p>
	<img src="/obrazki/fers-rp-ue.svg" alt="Fundusze Europejskie dla Rozwoju Społecznego, Rzeczpospolita Polska, Dofinansowane przez Unię Europejską" width="696" height="96" class="my-6" />
	<p><strong>Lider i partner wiodący:</strong><br>
	PCG Polska Sp. z o.o.,<br>
	ul. Fabryczna 17, 90-344 Łódź,<br>
	<a href="https://www.pcgpolska.pl">www.pcgpolska.pl</a></p>
	<img src="/obrazki/pcg.webp" alt="PCG Polska – logo" width="153" height="134"/>
	<p><strong>Partner projektu:</strong><br>
	Towarzystwo Inicjatyw Twórczych „ę”,<br>
	ul. Hoża 35, 00-681 Warszawa,<br>
	<a href="https://www.e.org.pl">www.e.org.pl</a></p>
	<img src="/obrazki/e.webp" alt="Towarzystwo Inicjatyw Twórczych „ę” – logo" width="150" height="96"/>
	<p><strong>Matronat:</strong></p>
	<div class="flex flex-wrap gap-x-20 gap-y-8 items-center">
		<img src="/obrazki/ids.webp" alt="Instytut Dobrej Śmierci – logo" width="220" height="76"/>
		<img src="/obrazki/psch.webp" alt="Polskie Stowarzyszenie Celebrantów Humanistycznych – logo" width="153" height="130"/>
	</div>
</aside>