---
layout: bazowy
---
<section class="md:grid grid-cols-3 gap-10 justify-center items-center text-2xl xs:text-3xl max-w-[660px] mx-auto">
  <h1 class="row-start-1 row-span-1 col-start-1 col-span-3 text-center text-czerwony">Na progu</h1>
  <div class="row-start-2 row-span-1 col-start-2 col-span-1 my-8 md:my-0">
    <div class="w-36 xs:w-44 mx-auto">{% include "ikony/logo.svg" %}</div>
  </div>
  <p class="row-start-2 row-span-1 col-start-1 col-span-1 text-center xs:mb-2 md:mb-0"><a href="/czym-sa-rytualy-przejscia/" class="text-black hover:text-czerwony focus:text-czerwony">Rytuały przejścia</a></p>
  <p class="row-start-2 row-span-1 col-start-3 col-span-1 text-center xs:mb-2 md:mb-0"><a href="/rytual-dla-ciebie/" class="text-black hover:text-czerwony focus:text-czerwony">Ceremonie świeckie</a></p>
  <p class="row-start-3 row-span-1 col-start-1 col-span-3 text-center"><a href="/warsztaty-przemiany/" class="text-black hover:text-czerwony focus:text-czerwony">Warsztaty</a></p>
</section>
<section class="mt-16 border-t border-black">
  <div class="lg:max-w-screen-lg lg:px-3 mx-auto lg:mt-20">
    <a href="/czym-sa-rytualy-przejscia/" class="motto block relative sm:text-white">
      <ul aria-label="W tle zmieniające się zdjęcia przedstawiające przyrodę: trzciny tonące w mgle nad jeziorem, leśną drogę, rozgwieżdżone niebo.">
        <li aria-hidden="true"><img src="/obrazki/motto-01.jpg" alt=""></li>
        <li aria-hidden="true"><img src="/obrazki/motto-02.jpg" alt=""></li>
        <li aria-hidden="true"><img src="/obrazki/motto-03.jpg" alt=""></li>
        <li aria-hidden="true"><img src="/obrazki/motto-04.jpg" alt=""></li>
      </ul>
      <p class="absolute top-0 left-0 w-full h-full flex justify-center items-center text-2xl xs:text-3xl sm:text-4xl lg:text-5xl text-white text-center px-3 text-shadow">Czym są i&nbsp;czemu służą obrzędy przejścia?</p>
    </a>
  </div>
  <div class="kontener mt-12">
    {% set strona = collections.rytualy %}
    {% include "podstrony.njk" %}
    <div class="md:grid grid-cols-3 gap-8 mt-16">
      <div class="col-start-1 col-span-1 mb-8 md:mb-0">
        <div class="bg-top bg-no-repeat bg-cover aspect-[1/1] md:aspect-[1/1.5]" style="background-image: url(/obrazki/{{ o_mnie_foto }})"{% if o_mnie_opis_foto %}aria-label="Zdjęcie: {{ o_mnie_opis_foto }}"{% endif %}>
        </div>
        {% if o_mnie_info_o_foto %}
          <p class="text-xs tracking-wider text-gray-400 mt-2 -mb-2">Fot. {{ o_mnie_info_o_foto }}</p>
        {% endif %}
      </div>
      <div class="col-start-2 col-span-2">
        <div class="tekst">
          {{ content | safe }}
        </div>
      </div>
    </div>
    {% for podstrona in collections.all %}
      {% if podstrona.url == '/o-mnie/' %}
        {% if podstrona.data.opinie %}
          <hr>
          <h2 class="tytul">Co mówią uczestnicy i uczestniczki rytuałów i warsztatów, które prowadziłam? <span id="opinie-gora">Przeczytajcie:</span></h2>
          <div class="md:grid grid-cols-3">
            <div class="siema col-span-2">
            {% for opinia in podstrona.data.opinie %}
              <div>
                <blockquote class="tekst">
                {{ opinia.tekst | md | safe }}
                <cite>{{ opinia.podpis | safe }}</cite>
                </blockquote>
                <div class="flex justify-end pr-2">
                  <button class="nastepna flex items-center md:hidden mt-6">Następna <span class="w-6 ml-3">{% include "ikony/nastepna.svg" %}</span></button>
                </div>
              </div>
            {% endfor %}
            </div>
            <div class="hidden md:block col-span-1 justify-self-center">
              <button class="nastepna w-16 pt-12 sticky top-0" aria-label="Następna">{% include "ikony/nastepna.svg" %}</button>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if partnerzy %}
      <hr>
      <h2 class="tytul mb-16">Partnerzy</h2>
      <div class="flex flex-wrap justify-center items-center gap-x-20 gap-y-16">
        {% for partner in partnerzy %}
          {% if partner.logo %}
            {% if partner.link %}<a href="{{ partner.link }}">{% endif %}<img src="/obrazki/{{ partner.logo }}" alt="{% if partner.alt %}{{ partner.alt }}{% endif %}" class="max-w-[300px] max-h-20">{% if partner.link %}</a>{% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>