{% set sciezka = page.url.split("/") %}{% set position = 0 %}<script type="application/ld+json">{"@context": "https://schema.org", "@type": "BreadcrumbList", "itemListElement": [{%- for el in sciezka -%}{%- if el != "" -%}{%- for strona in collections.all -%}{%- if strona.fileSlug == el -%}{% set position = position + 1 %}{% if position > 1 %},{% endif %}{"@type": "ListItem","position": {{ position }},"name": "{{ strona.data.title }}","item": "https://www.naprogu.pl{{ strona.url }}"}{%- endif -%}{%- endfor -%}{%- endif -%}{% endfor %}]}</script>