    {% if page.url != "/kontakt/" %}
    <footer class="py-6 border-t border-black">
      <div class="kontener flex flex-col md:flex-row justify-between items-center gap-4 md:gap-6">
      <p class="text-center md:text-left">Masz pytania? Skontaktuj się mailowo lub telefonicznie.</p>
      <div class="flex flex-col xs:flex-row items-center gap-4 xs:gap-6">
        <a href="&#109;&#97;ilt&#111;&#58;rytua&#37;6Cy%&#52;0%6&#69;a%7&#48;%72ogu&#37;2&#69;&#37;&#55;&#48;&#108;" class="flex items-center gap-2"><div class="w-10">{% include "ikony/email.svg" %}</div>&nbsp;r&#121;&#116;ualy&#64;napr&#111;gu&#46;&#112;l</a>
        <a href="tel:+48516827053" class="flex items-center gap-1"><div class="w-10">{% include "ikony/telefon.svg" %}</div>&nbsp;516&nbsp;827&nbsp;053</a>
      </div>
      </div>
      <div class="kontener">
        <button type="button" data-cc="show-preferencesModal">Preferencje dot. ciasteczek</button>
      </div>
    </footer>
    {% endif %}
    {% include "skrypt-menu.njk" %}
    {% if page.fileSlug == "o-mnie" or page.fileSlug == "strona-glowna" %}
      {% include "skrypt-opinie.njk" %}
    {% endif %}
    {% if page.fileSlug == "strona-glowna" -%}
      <script>if(window.netlifyIdentity){window.netlifyIdentity.on("init",user=>{if(!user){window.netlifyIdentity.on("login",()=>{document.location.href="/admin/"})}})}</script>
    {%- endif %}
  </body>
</html>