<header class="py-4 border-b border-black">
  <div class="kontener flex justify-between items-center">
    <a href="/" class="w-12" aria-label="Link do strony głównej">{% include "ikony/logo.svg" %}</a>
    <div class="flex gap-10">
      <a href="https://www.facebook.com/NaProgu/" class="w-12">{% include "ikony/facebook.svg" %}</a>
      {% include "menu-mobile.njk" %}
    </div>
  </div>
  {% include "menu-desktop.njk" %}
</header>