<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.fileSlug == "404" -%}
      <meta name="robots" content="noindex">
    {%- endif %}
    <title>Na progu | {{ title }}</title>
    <meta property="og:title" content="Na progu | {{ title }}">
    {% if seo %}
      <meta name="description" content="{{ seo }}">
      <meta property="og:description" content="{{ seo }}">
    {% endif %}
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Blog NaProgu.pl">
    {% if foto  %}
      <meta property="og:image" content="/obrazki/{{ foto }}"/>
    {% else %}
      <meta property="og:image" content="/obrazki/og-image.png"/>
    {% endif %}
    <link href="/style.css?v={{ teraz() }}" rel="stylesheet">
    <link rel="stylesheet" href="/cookieconsent/cookieconsent.css">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="generator" content="Eleventy">
    <script type="module" src="/cookieconsent/cookieconsent-config.js"></script>
    {% if meta.env == 'prod' -%}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WKKVHBQ9');</script>
      <!-- End Google Tag Manager -->
      <meta name="google-site-verification" content="l5amO45heAonUWt6f9tDksnizE-wnGkOaLrjYQg61NY" />
      {% if page.fileSlug == "strona-glowna" -%}
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
      {%- endif %}
    {% endif -%}
  </head>