<nav id="navigation" aria-expanded="false" class="xl:hidden">
  <button id="otworzMenu" aria-expanded="false" aria-label="Otwórz menu" aria-controls="menu" class="w-8 h-full">{% include "ikony/menu.svg" %}</button>
  <div id="menu" class="hidden fixed top-0 left-0 w-screen h-screen bg-white z-50">
    <div class="kontener h-screen flex flex-col justify-center items-center relative">
      <button id="zamknijMenu" aria-label="Otwórz menu" aria-controls="menu" class="absolute right-4 top-7 w-8">{% include "ikony/zamknij.svg" %}</button>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
      listClass: "menu-lista text-xl sm:text-2xl text-center",
      listItemClass: "mt-4",
      anchorClass: "no-underline hover:underline underline-2 underline-offset-4 decoration-dashed",
      activeAnchorClass: "",
      activeKey: eleventyNavigation.key,
      showExcerpt: false
      }) | safe }}
    </div>
  </div>
</nav>